/* css reset */
*{ box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a { color: inherit;text-decoration: none;}
/* style */
body {
    /* border: 1px solid red; */
    background: #eee;
}
.globalHeader {
    margin: 20px;
}
@media (min-width:500px){
   .globalHeader{
       margin: 60px 0 100px;
   }
}
.searchForm {
    display: flex;
    justify-content: space-between;
   
}
@media (min-width:500px){
   .searchForm {
     max-width: 400px; /* 当有最大宽度或者宽度固定时 用margin0 auto居中*/
     margin: 0 auto;
   }
 }
.searchForm > input {
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.searchForm > button {
    white-space: nowrap;
    padding: 0 28px;
    border: none;
    background: #0282b9;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
 }
.globalMain {
    max-width: 900px;
    margin: 0 auto;
}

.siteList{
    margin: 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:500px){
   .siteList{
     margin:20px -25px 20px 0!important;
     justify-content: flex-start;
     
  }  
 }
.siteList>li{
    margin-bottom: 10px;
}
@media (min-width:500px){
    .siteList>li{
        margin-right: 25px;
    }
}
.siteList .site {
    position: relative;
    width: 160px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 0;
    cursor: pointer;
}
.siteList .site >.close{
    position: absolute;
    top: 0px;
    right: 5px;
    display: none;
    cursor: default;
}
.siteList .site:hover >.close{
    display: block;
}
.siteList .site >.logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
}
.siteList .site >.link{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 0;
}
.siteList .addButton .icon{
    width: 56px;
    height: 56px;
}
.siteList .addButton .text{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}